---
---
@import "fonts-and-colors";
@import "fluid-typography";
@import "topnav";
@import "sidenav";
@import "main-and-sidenav-transition";
@import "frontpage";
@import "blog-home";
@import "single-post";

/*---------MOSTLY PERSONAL-------------*/
/* Fixes the pseudo class & sibling bug (http://css-tricks.com/webkit-sibling-bug)*/

body {
	-webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
	from {
		padding: 0;
	}
	to {
		padding: 0;
	}
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.outer,
.main-and-sidenav,
main {
	height: 100%;
}
