/*
Global
*/

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}


/* Fixes the pseudo class & sibling bug (http://css-tricks.com/webkit-sibling-bug)*/

body {
	-webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
	from {
		padding: 0;
	}
	to {
		padding: 0;
	}
}

html,
body {
	font-size: 16px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.14rem;
}

h3 {
	font-size: 1.07rem;
}

p {
	font-size: 1rem;
}

@media screen and (min-width: 20rem) {
	h1 {
		font-size: calc(2rem + 2 * ((100vw - 20rem) / 60));
	}
}

@media screen and (min-width: 80rem) {
	h1 {
		font-size: 4rem;
		font-weight: 300;
		letter-spacing: -2px;
		line-height: 5rem;
	}
}

@media screen and (min-width: 20rem) {
	h2 {
		font-size: calc(1.14rem + 2.36 * ((100vw - 20rem) / 60));
	}
}

@media screen and (min-width: 80rem) {
	h2 {
		font-size: 3.5rem;
	}
}

@media screen and (min-width: 30rem) {
	h3 {
		font-size: calc(1.07rem + 0.18 * ((100vw - 20rem) / 60));
	}
}

@media screen and (min-width: 80rem) {
	h3,
	{
		font-size: 1.25rem;
	}
}

@media screen and (min-width: 30rem) {
	p {
		font-size: calc(1rem + 0.125 * ((100vw - 20rem) / 60));
	}
}

@media screen and (min-width: 80rem) {
	p {
		font-size: 1.125rem;
	}
}

nav.topnav {
	display: flex;
	border-bottom: 1px gray solid;
	overflow: hidden;
	height: auto;
	justify-content: space-between;
}


/*
The .headerNav elements stay gray until hovered over.
*/

.name,
.sidenav-toggle {
	text-align: center;
	color: gray;
	font-family: Verddana, sans-serif;
	font-size: calc(1rem + .75 * ((100vw - 20rem) / 60));
	opacity: .54;
	font-weight: lighter;
	transition: color .5s ease;
	padding: .5ch 1ch .3ch 1ch;
	cursor: pointer;
}


/*
The "home-name" is moved to the left and given some aesthetic paddng and default margins are removed.
*/

.name:hover,
.sidenav-toggle:hover {
	color: #172BAE;
	opacity: .84;
}


/*
The "home-name" which is a link is not changed even if it is visited.
*/

.topnav h1 a:visited {
	color: gray;
	opacity: .54;
}


/*
Text-decoration is set to none to get rid of underlineing under the "home-name".
*/

.name {
	text-decoration: none;
}

.sidenav-checkbox {
	display: none;
}


/*
Image and Links
*/

.main-and-sidenav {
	height: 100%;
}

main {
	height: 100%;
}

.frontpage-image-and-links {
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 15vh;
}

.front-page-image {
	text-align: center;
}

.front-page-links {
	text-align: center;
}

.front-page-links a {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: calc(1rem + .25 * ((100vw - 20rem) / 60));
	color: #172BAE;
	text-decoration: none;
	transition: color .5s ease;
	opacity: .84;
	line-height: 1.6;
}

.front-page-links a:hover,
.sidenav a:hover,
.sidenav div.recent-posts li a:hover {
	opacity: .5;
}

.outer {
	overflow: hidden;
	height: 94.93vh
}


/* @group nav */

.sidenav {
	overflow: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	height: 100%;
	/*
		 * The width determines how much of the page you want to
		 * remain visible once the menu slides over
		 */
	width: 33ch;
	/*
		 * Must be absolutely positioned otherwise it won't sit
		 * side by side with the content but instead above it
		 * */
	position: absolute;
	right: 0;
	top: 0;
	/* Keeps the menu hidden off-canvas to the left */
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	padding-left: 5px;
	border-left: 1px gray solid;
	background-color: 2B3233
}

{
	display: block;
	text-decoration: none;
	color: gray;
}

.sidenav .home-mame,
.sidenav .tagline,
.sidenav .about-me {
	text-align: center;
}

.sidenav div.about-me {
	padding: 80px 2ch 3ch 2ch;
}

.sidenav div.about-me p.hi {
	font-size: 1.8rem;
	text-align: center;
	font-weight: normal;
	font-family: Georgia, serif;
}

.sidenav div.about-me p.i-like-to {
	font-size: 1.2rem;
	float: none;
	display: block;
	font-family: Arial, 'sans serif';
	color: black;
	text-decoration: none;
	opacity: .84;
	padding: 1.2ch 0 0 0;
	text-align: center;
}

.sidenav div.recent-posts {
	padding: 3ch 2ch 3ch 2ch;
	text-align: center;
}

.sidenav div.recent-posts li {
	list-style: none;
	text-align: center;
}

.sidenav div.recent-posts li a {
	font-size: 1.2rem;
	font-weight: normal;
	font-family: Arial, 'sans serif';
	color: #172BAE;
	text-decoration: none;
	transition: color .5s ease;
	opacity: .84;
	float: none;
	padding: 1.2ch 0 0 0;
}

.sidenav div.recent-posts p {
	color: black;
	font-size: 1.8rem;
	font-weight: normal;
	opacity: .84;
	font-family: Georgia, serif;
	padding-bottom: .8ch;
}


/* Kill the nasty outlines everywhere */

.sidenav-toggle,
.sidenav-toggle:active,
.sidenav-toggle:focus {
	border: none !important;
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* The :after pseudo element has an icon that covers the checkbox */


/* This is the checkbox */


/* When it's checked replace the menu icon with a close icon */

.sidenav-checkbox:checked ~ .sidenav-toggle:after {
	content: 'Close';
	display: block;
	text-align: center;
	color: gray;
	font-family: Georgia, serif;
	font-size: 1.8rem;
	opacity: .54;
	font-weight: normal;
	transition: color .5s ease;
}


/*
 * I set the width pretty high because I wanted to test on an Ipad in portrait mode,
 * depending on your website you can probably make this narrower
 */

.sidenav-toggle {
	display: block;
}


/*
	 * The transition value determines the speed
	 * at which the content will slide over
	 */

.main-and-sidenav {
	-webkit-transition: -webkit-transform 500ms ease;
	-moz-transition: -moz-transform 500ms ease;
	-o-transition: -o-transform 500ms ease;
	transition: transform 500ms ease;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}


/*
	 * Enable hardware acceleration and stop flickering
	 * More details: http://indiegamr.com/ios6-html-hardware-acceleration-changes-and-how-to-fix-them/
	 * Add more browser prefixes as required for your environment
	 */


/*
	 * When the checkbox is checked slide the content
	 * over and the checkbox with it
	 */

.sidenav-checkbox:checked ~ .main-and-sidenav {
	-webkit-transform: translateX(-33ch) scale(1);
	-moz-transform: translateX(-33ch) scale(1);
	-ms-transform: translateX(-33ch) scale(1);
	-o-transform: translateX(-33ch) scale(1);
	transform: translateX(-33ch) scale(1);
}

.sidenav-checkbox:checked ~ .main-and-sidenav main {
	z-index: 1 !important;
	background-color: #807F7F;
}

.sidenav-checkbox:checked ~ .main-and-sidenav main .front-page-links p a {
	color: #0C1658;
}

.blog-home a:visited {
	color: red;
	text-decoration: none;
}


/*
Blog Homepage
*/

.blog-home {
	color: black;
	text-align: center;
	padding-top: 2.25rem;
	padding-bottom: 10px;
	margin: 0;
	opacity: .54;
	font-size: 2.25rem;
	font-family: 'Bree Serif', serif;
	font-weight: normal;
}

.excerpts-list {
	margin: 0 auto;
	max-width: 80ch;
	padding: 0;
}

.excerpt-title-permalink a {
	font-size: 1.5rem;
	color: #172BAE;
	opacity: .84;
	font-family: 'Bree Serif', serif;
	font-weight: 400;
	color: #172BAE;
	text-decoration: none;
}

.excerpt-metadata {
	color: black;
	opacity: .84;
	margin-top: 2ch;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1rem;
}

.the-excerpt {
	color: black;
	opacity: .84;
	font-size: 1rem;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}


/*
Single Blog Post
*/

.post-title {
	color: black;
	text-align: center;
	padding-top: 2.25rem;
	padding-bottom: 0px;
	margin: 0;
	opacity: .54;
	font-size: 2.25rem;
	font-family: 'Bree Serif', serif;
	font-weight: normal;
	font-size: 2.7rem;
}

.single-post {
	margin: 0 auto;
	max-width: 80ch;
	padding: 0;
}

.post-metadata {
	color: black;
	opacity: .84;
	margin-top: -.5ch;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	text-align: center;
}

.post-content {
	color: #222222;
	opacity: .84;
	font-size: 1.2rem;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	padding: 1ch 4ch 1ch 4ch;
}
