/* @group nav */

.sidenav {
	overflow: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	height: 100%;
	/*
		 * The width determines how much of the page you want to
		 * remain visible once the menu slides over
		 */
	width: 33ch;
	/*
		 * Must be absolutely positioned otherwise it won't sit
		 * side by side with the content but instead above it
		 * */
	position: absolute;
	right: 0;
	top: 0;
	/* Keeps the menu hidden off-canvas to the left */
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

.sidenav .home-mame,
.sidenav .tagline,
.sidenav .about-me {
	text-align: center;
}

.sidenav div.about-me {
	padding: 80px 2ch 3ch 2ch;
}

.sidenav div.about-me p.hi {
	text-align: center;
}

.sidenav div.about-me p.i-like-to {
	float: none;
	display: block;
	text-decoration: none;
	padding: 1.2ch 0 0 0;
	text-align: center;
}

div.recent-posts {
	padding: 0;
	text-align: center;
}

.recent-posts ul {
	padding: 0;
}

.recent-posts li {
	list-style: none;
	text-align: center;
}

.sidenav div.recent-posts li a {
	text-decoration: none;
	float: none;
	padding: 1.2ch 0 0 0;
}

.sidenav div.recent-posts p {
	padding-bottom: .8ch;
}