/*
Blog Homepage
*/

.blog-home {
	text-align: center;
	padding-top: 8vh;
	padding-bottom: 7vh;
}

.excerpts-list {
	margin: 0 auto;
	max-width: 80ch;
	padding: 0ch 4ch 0ch 4ch;
}

.excerpt-title-permalink {
	
	text-align: center;
}

.excerpt-title-permalink a {
	text-decoration: none;
	padding: 0;
	margin: auto;
}

.excerpt-metadata {
	text-align: center;
	margin-top: -1.5ch;
	text-indent: .3ch;
}

.the-excerpt {
	text-indent: 4ch;
	max-width: 55ch;
	margin: auto;
	padding-top: 2ch;
}	
