/*
Most of the code is copied from this article: https://www.smashingmagazine.com/2016/05/fluid-typography/
*/

/*These are two scales for modular typography. The first is for mobile devices,
and the second is for desktops.*/
$mod_1: 1.067;
$mod_2: 1.333;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  } @else {
    @error "Detected mixed units. Please use the same units for all parameters.";
  }
}

/*MDL suggests using 14px for mobile devices, and it looks alright, and anything more than 20ish px as a font size seems to look gaudy.*/
html {
  @include fluid-type(320px, 1280px, 14px, 18px);
}

h1,h2,h3,h4,p { padding: 0; margin: 0.5rem 0; line-height: 1.5;}

	h1{ font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem}
	h2{ font-size: $mod_1*$mod_1*$mod_1 *1rem}
	h3{ font-size: $mod_1*$mod_1 *1rem}
	h4{ font-size: $mod_1 *1rem}
	p{ font-size: 1rem}

	h1{ 
		@include fluid-type(37.5rem, 80rem, $mod_1*$mod_1*$mod_1*$mod_1 *1rem, $mod_2*$mod_2*$mod_2*$mod_2 *1rem);
	}
	
	h2{ 
		@include fluid-type(37.5rem, 80rem, $mod_1*$mod_1*$mod_1 *1rem, $mod_2*$mod_2*$mod_2 *1rem);
	}
	
	h3{ 
		@include fluid-type(37.5rem, 80rem, $mod_1*$mod_1 *1rem, $mod_2*$mod_2 *1rem);
	}
	
	h4{ 
		@include fluid-type(37.5rem, 80rem, $mod_1 *1rem, $mod_2 *1rem);
	}
	
	p{ 
		@include fluid-type(37.5rem, 80rem, 1rem, 1rem);
	}

ol, ul, li {
	@extend p;
}