/*
Image and Links
*/

.frontpage-image-and-links {
	margin-top: 0;
	margin-bottom: auto;
	padding-top: 0;
}

.front-page-image {
	text-align: center;
}

.front-page-links {
	text-align: center;
}

.front-page-links a {
	text-decoration: none;
}
