/*
	 * The transition value determines the speed
	 * at which the content will slide over
	 */

.main-and-sidenav {
	-webkit-transition: -webkit-transform 500ms ease;
	-moz-transition: -moz-transform 500ms ease;
	-o-transition: -o-transform 500ms ease;
	transition: transform 500ms ease;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}


/*
	 * Enable hardware acceleration and stop flickering
	 * More details: http://indiegamr.com/ios6-html-hardware-acceleration-changes-and-how-to-fix-them/
	 * Add more browser prefixes as required for your environment
	 */


/*
	 * When the checkbox is checked slide the content
	 * over and the checkbox with it
	 */

.sidenav-checkbox:checked ~ .main-and-sidenav {
	-webkit-transform: translateX(-33ch) scale(1);
	-moz-transform: translateX(-33ch) scale(1);
	-ms-transform: translateX(-33ch) scale(1);
	-o-transform: translateX(-33ch) scale(1);
	transform: translateX(-33ch) scale(1);
}

.sidenav-checkbox:checked ~ .main-and-sidenav main {
	z-index: 1 !important;
	background-color: #807F7F;
}

.sidenav-checkbox:checked ~ .main-and-sidenav main .front-page-links p a {
	color: #0C1658;
}