<!DOCTYPE html>

<html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300,400,300italic,400italic,800' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="headerNav">
        <h1><a href="#">Saimon Howlader</a></h1>
    </div>
    <div class="outer">
        <input type="checkbox" id="slide-checkbox" class="slide-checkbox" role="button">
        <label for="slide-checkbox" class="slide-toggle" onclick></label>
        <div class="slide">
            <nav>
                <div class="homeName">
                    <a href="#">Saimon Howlader</a>
                </div>
                <div class="tagline">
                    <a href="#">Contact</a>
                    <a href="#">Resume</a>
                    <a href="#">Blog</a>
                </div>
                <div class="description">
                    <p>This is just another bobo blog lmao</p>
                </div>
                <div class="recentPosts">
                    <a href="#">Recent Posts</a>
                    <a href="#">post 1</a>
                    <a href="#">post 2</a>
                </div>
            </nav>
    
    
    
    
    
    

            {{ content }}

        <!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
                <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
            </ul>
        </footer>
    </body>

</html>
